.menu{
    border: 1px solid black;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    border: 1px solid black;
    width: 80px;
    height: 50px;
}

.menuItems{
    border: 1px solid black;
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.dnone{
    display: none;
}

@media (max-width: 768px) {
    .dnone{
        display: block;
    }

    .menuItems{
        display: none;
    }
}